// / creating custome style 
@import '~@angular/material/theming';

@mixin pol-theme($theme) {

     $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    // .row {
  
    //   &:hover, &:active, &:focus {
    //     background-color: mat-color($background, hover);
    //   }
  
    //   &.selected {
    //     background-color: mat-color($primary, lighter, 0.5);
    //     color: mat-color($foreground, text);
    //   }
    // }
    .custom-input,.custom-mat-select{
        width: 100%;
        height: 28px;
        // height: calc(1.5em + 0.75rem + 2px);
        padding: 4px 10px;
        margin-top: 6px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #8d8d8d;
        vertical-align: middle;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 1px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:active,&:focus {
            // border-color: rgba(126, 239, 104, 0.8);
            // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.07rem rgba(0, 123, 255, 0.25);
        }
    }
    .custom-mat-button {
        display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #3a3a3a;
    background-color: #eaeaea;
    border-color: #adadad;
    height: 28px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        top: 2.58125em;
    }
    .mat-form-field-label {
        left: 9px;
        font-size: 0.8em;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field {
        width: 100%;
    }
    .modal-button {
        color: #ffffff !important;
        background-color: #414142 !important;
        border-color: #343435 !important;
    }
    .modal-textArea {
        height: 80px !important;
    }
    .mat-checkbox-background {
        border: 1px solid #cacaca;
        background: #eee;
    }
 .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        stroke: #8c8282 !important;
        stroke-dasharray: 52.91026 !important;
        stroke-width: 5.53333px !important;
        background: #eee;
        border: 1px solid #cacaca;
    }
    .mat-checkbox-inner-container {
        height: 14px;
        width: 14px;
    }
    .mat-checkbox-checkmark-path {
        // stroke: #8c8282 !important;
        // stroke-dasharray: 52.91026 !important;
        // stroke-width: 5.53333px !important;
        // background: #eee;
        // border: 1px solid #cacaca; 
        &:active,&:focus {
            box-shadow: none;
        }
    }
    .mat-checkbox-checked .mat-checkbox-checkmark-path {
        stroke: #8c8282 !important;
        stroke-dasharray: 52.91026 !important;
        stroke-width: 5.53333px !important;
        background: #eee;
        border: 1px solid #cacaca; 
    }
    .mat-form-field-label,.mat-form-field-should-float,.mat-form-field-can-float,.mat-form-field-appearance-legacy {
        transform: none !important;
        
        // &:active,&:focus {
        //     color: white;
        // }
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        display: none;
    }
    .mat-form-field-label {
        display: none !important;
    }
    .mat-form-field-empty {
        display: block !important;
        color: #c7c7c7;
    }
    .row {
        background: white;
    }
    .custom-box-shadow-none {
        box-shadow: none;
    }
  }