@import '~@angular/material/theming';
@import './pol-theme.scss';

$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
.pol-theme {
    @include pol-theme($light-theme)
}
.default {
    @include angular-material-theme($light-theme)
}
